@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 100%;
}
.container {
    min-height: 100%;
    position: relative;
  }
.header{
    width: 100%;
    height: 100px;
    padding: 30px 40px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    border-bottom: 5px solid #9e9a9a;
}
.header select option {
    text-align: center;
    width: 150px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
  }
  
.header select option:first-child {
    color: #ccc;
  }
  
.header select option:hover,
.header select option:focus {
    background-color: #555;
  }
.nav-link {
    position: relative;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
.nav-link:hover,.nav-link:focus {
    color: #555;
  }
.nav-link:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-bottom: 2px solid #333;
    transition: border-color 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom left;
  }
.nav-link:hover:before,
.nav-link:focus:before {
    border-color: #555;
    transform: scaleX(1);
  }
nav select{
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}
nav select option {
    text-align: center;
    width: 150px;
    padding: 5px;
    box-sizing: border-box;
  }
  
nav select option:checked {
    background-color: #e1e1e1;
  }
section.card {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
  background: linear-gradient(to right, #81f56a, #115205);
  border-radius: 24px 24px 24px 48px;
  padding: 48px 48px 48px 308px;
  margin: 84px 0;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
  box-shadow: 5px 0 0 0 rgba(204,204,204,0.3), -5px 0 0 0 rgba(204,204,204,0.3), 0 5px 0 0 rgba(204,204,204,0.3);
}
section.card .text-content {
  display: flex;
  flex-direction: column;
  width:calc(60vw - 192px);
}
section.card .text-content h3 {
  margin: 0;
  font-size: 1.5em;
  max-width: 20ch;
  color: #fff;
}
section.card .text-content p {
  margin: 25px 0 24px;
  color: #fff;
}
section.card .text-content a {
  border: 3px solid #f2f2f2;
  color: #ffffff;
  align-self: flex-start;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  transition: 400ms all;
}
section.card .text-content a:hover {
  background: #051c5e;
  color: white;
}
section.card .visual {
  width: 240px;
  height: 100%;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
}
section.card .visual img {
  height: 110%;
}
article {
  margin: auto;
  display: block;
  width:calc(60vw + 248px);
  max-width:calc(920px + 248px);
  min-width:calc(640px + 248px); 
}

footer{
  background-color: #f8f8f8;
}

.ft1 {
  display: flex;
  padding-left: 60px;
  padding-top: 37px;
  height: 100px;
  font-weight: bold;
  border-bottom: 1px solid #9e9a9a;
  margin-left: 50px;
  margin-right: 50px;
}

.img, .img2, .img3{
  width: 35px;
  height: 35px;
  padding-top: 5px;
}

.wrapper {
  display: flex;
  list-style: none;
  margin-top: -20px;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius:15px;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
  background: #8745f1;
  color: #ffffff;
  padding-top: 10px;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #516ee3;
  color: #ffffff;
  padding-top: 10px;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #f14e4e;
  color: #ffffff;
  padding-top: 10px;
}

.ft2{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
a.btn {
  text-decoration: none;
  color: black;
  font-weight: 100;
  transition: font-weight 0.3s ease;
}

a.btn:hover {
  font-weight: bold;
}

@media only screen and (max-width:890px){
    .main-box .top{
        flex-direction: column;
    }
    .top .box{
        margin: 10px 0;
        align-items: center;
    }
}